{%- liquid
  assign duo_image = false
  assign image_width = 1340
  assign image_height = 860

  if image_text_image1 != blank and image_text_image2 != blank
    assign duo_image = true
    assign image_width = 740
  elsif image_text_metafield_image1 != blank and image_text_metafield_image2 != blank
    assign duo_image = true
    assign image_width = 740
  endif

  if image_text_image1 != blank or image_text_metafield_image2 != blank or image_text_metafield_image1 != blank or image_text_metafield_image2 != blank
    assign has_images = true
  else
    assign has_images = false
  endif
-%}

<section class="sec-ImageText sec-ImageText-{{ image_text_order }} sec-Style-{{ section_foreground }}" style="--StyleBackground: {{ section_background }};"{% if section_scroll != blank %} data-scroll-to-element="{{ section_scroll }}"{% endif %}>
  <div class="sec-ImageText_Inner lyt-Container">
    <div class="sec-ImageText_Body">
      <div class="sec-ImageText_Columns{% if has_images == false %} sec-ImageText_Columns-noImage{% endif %}">
        {%- if has_images == true -%}
          <div class="sec-ImageText_Column sec-ImageText_Column-image" data-animate-section>
            <div class="sec-ImageText_Images{% if duo_image == true %} sec-ImageText_Images-duo{% endif %}" data-module="parallax" data-animate-image>

              {%- if image_text_metafield_image1 != blank or image_text_metafield_image2 != blank -%}
                {%- if image_text_metafield_image1 != blank -%}
                  <div class="sec-ImageText_ImageContainer">
                    <div class="sec-ImageText_Image" data-el="parallax.item" data-scale="1.2">
                      {%- render 'responsive-image-metafield',
                        image: image_text_metafield_image1,
                        width: image_width,
                        height: image_height
                      -%}
                    </div>
                  </div>
                {%- endif -%}

                {%- if image_text_metafield_image2 != blank -%}
                  <div class="sec-ImageText_ImageContainer">
                    <div class="sec-ImageText_Image" data-el="parallax.item" data-scale="1.2">
                      {%- render 'responsive-image-metafield',
                        image: image_text_metafield_image2,
                        width: image_width,
                        height: image_height
                      -%}
                    </div>
                  </div>
                {%- endif -%}

              {%- elsif image_text_image1 != blank or image_text_metafield_image2 != blank -%}
                {%- if image_text_image1 != blank -%}
                  <div class="sec-ImageText_ImageContainer">
                    <div class="sec-ImageText_Image" data-el="parallax.item" data-scale="1.2">
                      {%- render 'responsive-image',
                        image: image_text_image1,
                        width: image_width,
                        height: image_height
                      -%}
                    </div>
                  </div>
                {%- endif -%}

                {%- if image_text_image2 != blank -%}
                  <div class="sec-ImageText_ImageContainer">
                    <div class="sec-ImageText_Image" data-el="parallax.item" data-scale="1.2">
                      {%- render 'responsive-image',
                        image: image_text_image2,
                        width: image_width,
                        height: image_height
                      -%}
                    </div>
                  </div>
                {%- endif -%}
              {%- endif -%}
            </div>
          </div>
        {%- endif -%}

        <div class="sec-ImageText_Column sec-ImageText_Column-text">
          <div class="sec-ImageText_Content" data-animate-section>
            {%- if image_text_title != blank -%}
              <h2 class="sec-ImageText_Title" data-animate-el>
                {{ image_text_title }}
              </h2>
            {%- endif -%}

            {%- if image_text_subtitle != blank -%}
              <h3 class="sec-ImageText_Subtitle" data-animate-el>
                {{ image_text_subtitle }}
              </h3>
            {%- endif -%}

            {%- if image_text_content != blank -%}
              <div class="sec-ImageText_Text rte-RichText" data-animate-el>
                {{ image_text_content }}
              </div>
            {%- endif -%}

            {%- if image_text_button_text != blank and image_text_button_url != blank -%}
              <a href="{{ image_text_button_url }}" class="sec-ImageText_Button btn-Secondary" data-animate-el>
                {{ image_text_button_text }}
              </a>
            {%- endif -%}

						<div class="sec-Accordion_Items" data-module="feature-accordions">
              {%- if collection.metafields.collection_faq_item.faq_title != blank -%}
                {%- for title in collection.metafields.collection_faq_item.faq_title -%}
                  <div
                    class="sec-Accordion_Item"
                    aria-expanded="false"
                    data-el="feature-accordions.accordion"
                    data-title="{{ title | downcase }}"
                  >
                    <button type="button" class="sec-Accordion_Header" data-el="feature-accordions.trigger">
                      <div class="sec-Accordion_HeaderContent">
                        <h3 class="sec-Accordion_Title">
                          {{ title }}
                        </h3>
                      </div>

                      <div class="sec-Accordion_Icon"></div>
                    </button>

                    <div class="sec-Accordion_Body" data-el="feature-accordions.content">
                      <div class="sec-Accordion_Content rte-RichText">
                        {{ collection.metafields.collection_faq_item.faq_content[forloop.index0].html }}
                      </div>
                    </div>
                  </div>
                {%- endfor -%}
              {%- else -%}
							  {%- render 'image-text-accordion-items-deprecated'
                  accordion_title_1: accordion_title_1,
                  accordion_content_1: accordion_content_1,
                  accordion_title_2: accordion_title_2,
                  accordion_content_2: accordion_content_2
                -%}
              {%- endif -%}

						</div>
						{%- if info_title != blank and info_content != blank -%}
							<div class="sec-ImageText_Info">
								<h3 class="sec-ImageText_InfoTitle">
									{{ info_title }}
								</h3>

								<div class="sec-ImageText_InfoContent" data-animate-el data-module="read-more">
									<div class="sec-ImageText_InfoText rte-RichText" data-el="read-more.content">
										<div class="sec-ImageText_OverflowContent" data-el="read-more.fullcontent">
											{{ info_content }}
										</div>
									</div>

									<button class="sec-ReadMore_Button sec-ReadMore_Button-more" data-el="read-more.morebutton">
                    {{ 'products.product.read_more' | t }}
                  </button>

                  <button class="sec-ReadMore_Button sec-ReadMore_Button-less" data-el="read-more.lessbutton">
                    {{ 'products.product.read_less' | t }}
                  </button>
                </div>
							</div>
						{%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% render 'faq-schema',
  manual_items: true,
  title_1: accordion_title_1,
  content_1: accordion_content_1,
  title_2: accordion_title_2,
  content_2: accordion_content_2
%}
