<nav class="pgn-Pagination">
  <ul class="pgn-Pagination_Items">
    {%- if paginate.previous.is_link -%}
      <li class="pgn-Pagination_Item pgn-Pagination_Item-previous">
        <a
          class="pgn-Pagination_Link"
          href="{{ paginate.previous.url }}"
          rel="prev"
        >
          {%- render 'bao-icon-arrow-left' -%}
        </a>
      </li>
    {%- endif -%}

    {%- for part in paginate.parts -%}
      {%- if part.is_link -%}
        <li class="pgn-Pagination_Item">
          <a class="pgn-Pagination_Link" href="{{ part.url }}">{{ part.title }}</a>
        </li>
      {%- else -%}
        {%- if part.title == paginate.current_page -%}
          <li class="pgn-Pagination_Item">
            <a
              class="pgn-Pagination_Link"
              href="{{ part.url }}"
              aria-current="page"
            >
              {{ part.title }}
            </a>
          </li>
        {%- else -%}
          <li class="pgn-Pagination_Item">{{ part.title }}</li>
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}

    {%- if paginate.next.is_link -%}
      <li class="pgn-Pagination_Item pgn-Pagination_Item-next">
        <a class="pgn-Pagination_Link" href="{{ paginate.next.url }}" rel="next">
          {%- render 'bao-icon-arrow-right' -%}
        </a>
      </li>
    {%- endif -%}
  </ul>
</nav>
