{{ 'section-footer.css' | asset_url| stylesheet_tag }}
<footer class="ft-Footer" aria-label="Footer">
  <div class="ft-Footer_Inner lyt-Container lyt-Container-wide"
        data-module="footer-accordions">
    <div class="ft-Footer_Body">
      <div class="ft-Footer_Address">
        <div class="ft-Footer_Logo">
          {%- render 'bao-danetti-logo' -%}
        </div>

        {%- if section.settings.tel_text != blank -%}
          <p class="ft-Footer_TelText">
            {{ section.settings.tel_text }}
          </p>
        {%- endif -%}

        {%- if section.settings.tel_number != blank -%}
          <a class="ft-Footer_TelNumber" href="tel:{{ section.settings.tel_number}}" data-scroll-to-element="footer-contact">
            {%- render 'bao-icon-telephone' -%}

            {{ section.settings.tel_number }}
          </a>
        {%- endif -%}

        {%- if section.settings.contact -%}
          <div class="ft-Footer_Contact">
            {{ section.settings.contact }}
          </div>
        {%- endif -%}
      </div>

      {%- if section.blocks.size > 0 -%}
        <div class="ft-Footer_Navigation">
          <nav class="ft-Navigation" aria-label="Footer navigation">
            {%- for block in section.blocks -%}
              <div class="ft-Navigation_Column" aria-expanded="false" data-el="footer-accordions.accordion">
                <div class="ft-Accordion_Header" data-el="footer-accordions.trigger">
                  <div class="ft-Accordion_Heading">
                    <h3 class="ft-Accordion_Title">
                      {{ block.settings.title }}
                    </h3>

                    <p class="ft-Accordion_Subtitle">
                      {{ block.settings.subtitle }}
                    </p>
                  </div>

                  <div class="ft-Accordion_Icon">
                    {%- render 'bao-icon-dropdown-arrow' -%}
                  </div>
                </div>

                <div class="ft-Accordion_Body">
                  <ul class="ft-Navigation_Items">
                    {%- assign navigation_linklist = block.settings.linklist -%}

                    {%- for link in linklists[navigation_linklist].links -%}
                      <li class="ft-Navigation_Item">
                        <a class="ft-Navigation_Link{% if link.active %} ft-Navigation_Link-active{% endif %}" href="{{ link.url }}" title="{{ link.title }}">
                          {{ link.title }}
                        </a>
                      </li>
                    {%- endfor -%}

                    {%- if block.settings.social == true -%}
                      {%- assign social_accounts = 'Facebook, Twitter, YouTube, Instagram, Linkedin, Pinterest, Snapchat, Tumblr, Vimeo,' | split: ', ' -%}
                      {%- for social in social_accounts -%}
                        {%- assign social_handle = social | handleize -%}
                        {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
                        {% capture social_icon %}bao-icon-{{ social_handle }}{% endcapture %}

                        {%- if settings[social_link] != blank -%}
                          <li class="ft-Navigation_Item">
                            <a class="ft-Navigation_Link" href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: "Danetti", platform: social }}">
                              {%- include social_icon -%}
                              {{ social }}
                            </a>
                          </li>
                        {%- endif -%}
                      {%- endfor -%}
                    {%- endif -%}
                  </ul>
                </div>
              </div>
            {%- endfor -%}
          </nav>
        </div>
      {%- endif -%}
    </div>
  </div>

  <div class="ft-Copyright">
    <div class="ft-Copyright_Inner lyt-Container lyt-Container-wide">
      <div class="ft-Copyright_Body">
        <p class="ft-Copyright_Text">&copy; {{ 'layout.footer.copyright' | t }} {{ 'now' | date: "%Y" }}</p>

        <ul class="ft-Copyright_Cards">
          {%- if settings.payment_apple -%}
            <li class="ft-Copyright_Card">
              {%- render 'bao-icon-payment-apple' -%}
            </li>
          {%- endif -%}
          {%- if settings.payment_google -%}
            <li class="ft-Copyright_Card">
              {%- render 'bao-icon-payment-google' -%}
            </li>
          {%- endif -%}
          {%- if settings.payment_amazon -%}
            <li class="ft-Copyright_Card">
              {%- render 'bao-icon-payment-amazon' -%}
            </li>
          {%- endif -%}
          {%- if settings.payment_visa -%}
            <li class="ft-Copyright_Card">
              {%- render 'bao-icon-payment-visa' -%}
            </li>
          {%- endif -%}
          {%- if settings.payment_mastercard -%}
            <li class="ft-Copyright_Card">
              {%- render 'bao-icon-payment-mastercard' -%}
            </li>
          {%- endif -%}
          {%- if settings.payment_paypal -%}
            <li class="ft-Copyright_Card">
              {%- render 'bao-icon-payment-paypal' -%}
            </li>
          {%- endif -%}
          {%- if settings.enable_klarna -%}
            <li class="ft-Copyright_Card">
              <klarna-placement
                data-key="sidebar-promotion-auto-size"
                data-locale="en-GB"
              ></klarna-placement>
            </li>
          {%- endif -%}
        </ul>
      </div>

      <div class="ft-Copyright_Footer">
        <p class="ft-Copyright_SmallText">{{ 'layout.footer.small_print_html' | t }}</p>
      </div>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "text",
        "id": "tel_text",
        "label": "Telephone message"
      },
      {
        "type": "text",
        "id": "tel_number",
        "label": "Telephone number"
      },
      {
        "type": "richtext",
        "id": "contact",
        "label": "Contact Details"
      }
    ],
    "max_blocks": 4,
    "blocks": [
      {
        "type": "column",
        "name": "Column",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle"
          },
          {
            "type": "link_list",
            "id": "linklist",
            "label": "Navigation"
          },
          {
            "type": "checkbox",
            "id": "social",
            "label": "Social Links"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Footer",
        "settings": {}
      }
    ]
  }
{% endschema %}
