{% liquid
  assign show_text_1 = false
  assign show_text_2 = false
  assign show_text_3 = false
  assign show_promo_bar = false
  assign show_finance_bar = false

  if section.settings.promo_bar_text_1 != blank
    if section.settings.promo_bar_text_1_desktop == true or section.settings.promo_bar_text_1_mobile == true
      assign show_text_1 = true
    endif
  endif

  if section.settings.promo_bar_text_2 != blank
    if section.settings.promo_bar_text_2_desktop == true or section.settings.promo_bar_text_2_mobile == true
      assign show_text_2 = true
    endif
  endif

  if section.settings.promo_bar_text_3 != blank
    if section.settings.promo_bar_text_3_desktop == true or section.settings.promo_bar_text_3_mobile == true
      assign show_text_3 = true
    endif
  endif

  if section.settings.enable_finance_bar == true and section.settings.finance_bar_text != blank
    assign show_finance_bar = true
  endif

  if show_text_1 or show_text_2 or show_text_3 or show_finance_bar
    assign show_promo_bar = true
  endif
%}

{%- if show_promo_bar -%}
  {{ 'header-bar.css' | asset_url | stylesheet_tag }}

  <div class="hd-TopBar" style="background-color: {{section.settings.promo_bar_background}}; color: {{section.settings.promo_bar_colour}};">
    <div class="hd-TopBar_Inner lyt-Container lyt-Container-wide grid_container">
      <div class="hd-TopBar_Body">
        <div class="hd-TopBar_Items">
          {%- if show_finance_bar -%}
            <div class="hd-TopBar_Item hd-TopBar_Finance font_14-22">
              <span class="hd-TopBar_Icon">
                {%- render 'bao-icon-finance' -%}
              </span>
              {{ section.settings.finance_bar_text | strip_newlines }}
            </div>
          {%- else -%}
            {%- if show_text_1 -%}
              <div class="hd-TopBar_Item{% if section.settings.promo_bar_text_1_mobile == false %} hd-TopBar_Item-hideMobile{% endif %}{% if section.settings.promo_bar_text_1_desktop == false %} hd-TopBar_Item-hideDesktop{% endif %}">
                {{ section.settings.promo_bar_text_1 | strip_newlines }}
              </div>
            {%- endif -%}
            {%- if show_text_2 -%}
              <div class="hd-TopBar_Item{% if section.settings.promo_bar_text_2_mobile == false %} hd-TopBar_Item-hideMobile{% endif %}{% if section.settings.promo_bar_text_2_desktop == false %} hd-TopBar_Item-hideDesktop{% endif %}">
                {{ section.settings.promo_bar_text_2 | strip_newlines }}
              </div>
            {%- endif -%}
            {%- if show_text_3 -%}
              <div class="hd-TopBar_Item{% if section.settings.promo_bar_text_3_mobile == false %} hd-TopBar_Item-hideMobile{% endif %}{% if section.settings.promo_bar_text_3_desktop == false %} hd-TopBar_Item-hideDesktop{% endif %}">
                {{ section.settings.promo_bar_text_3 | strip_newlines }}
              </div>
            {%- endif -%}
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "Header Bar",
    "class": "shopify-header-bar",
    "settings": [
      {
        "type": "header",
        "content": "Finance Bar"
      },
      {
        "type": "checkbox",
        "id": "enable_finance_bar",
        "label": "Enable Finance Bar",
        "default": false
      },
      {
        "type": "richtext",
        "id": "finance_bar_text",
        "label": "Text"
      },
      {
        "type": "header",
        "content": "Promo Bar"
      },
      {
        "type": "color",
        "id": "promo_bar_colour",
        "label": "Text Colour",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "promo_bar_background",
        "label": "Background Colour",
        "default": "#0a1e2d"
      },
      {
        "type": "richtext",
        "id": "promo_bar_text_1",
        "label": "Text 1"
      },
      {
        "type": "checkbox",
        "id": "promo_bar_text_1_desktop",
        "label": "Show on Desktop",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "promo_bar_text_1_mobile",
        "label": "Show on Mobile",
        "default": true
      },
      {
        "type": "richtext",
        "id": "promo_bar_text_2",
        "label": "Text 2"
      },
      {
        "type": "checkbox",
        "id": "promo_bar_text_2_desktop",
        "label": "Show on Desktop",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "promo_bar_text_2_mobile",
        "label": "Show on Mobile",
        "default": true
      },
      {
        "type": "richtext",
        "id": "promo_bar_text_3",
        "label": "Text 3"
      },
      {
        "type": "checkbox",
        "id": "promo_bar_text_3_desktop",
        "label": "Show on Desktop",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "promo_bar_text_3_mobile",
        "label": "Show on Mobile",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "Header Bar",
        "settings": {}
      }
    ]
  }
  {% endschema %}
  